.home {
  position: relative;
  display: flex;
  background-color: var(--black-color);
  color: var(--white-color);
  width: 100%;
  height: calc(100% - 31px);
}

.no-task{
  /* background-color: wheat; */
  width: 90%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}