.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.2rem 0.3rem 0.5rem;
  background-image: linear-gradient(
    to bottom,var(--yellow-color), var(--dark-yellow-color)
  );
  user-select: none;
  -webkit-app-region: drag;
}

.navigate-buttons {
  display: flex;
  gap: 0.5rem;
}

.pomoroger {
  text-decoration: overline underline;
}
