.list-container {
  padding-block: 0.5rem;
  position: relative;
  width: 45%;
  height: 100%;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  padding-block-start: 2rem;
}

.view-320 {
  position: absolute;
  top: 0;
  left: -320px;
  width: 100%;
}


.list-menu-open{
  position: absolute;
  top: 5px;
  left: 325px;
}

.list-menu-close{
  position: absolute;
  top: 5px;
  right: 5px;
}

.transform-translate{
  transform: translateX(320px);
}
